<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
    <add key="log4net.NullText" value="#"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpModules>
      <add name="Log4Net" type="log4net.Web.Log4NetHttpModule, log4net.HttpRequestAppender"/>
    </httpModules>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <log4net>
    <appender name="PerRequestWrapper" type="log4net.Appender.HttpRequestAppender">
      <appender-ref ref="LogFileAppender"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline%date{ABSOLUTE} %thread %-5level %logger{1} %message" />
      </layout>
    </appender>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="bin/Combined.log"/>
      <param name="AppendToFile" value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date flsrv prd %property{searchid} %property{papakia} %property{brand} %property{language} %message%newline===EOM" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="PerRequestWrapper"/>
    </root>
  </log4net>
</configuration>